  <div ng-controller="abonoController">
  <div id='body_abono'>

    <div class='container' id='bootsta'>
      <div class='row'>
        <div id='abono' class= 'col-xs-10 col-xs-offset-1 fadeIn animated'>
          <form>
                <h2>Abonos</h2>
                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    Nombre del Cliente:
                  </div>
                  <div class="col-xs-12 col-md-3">
                    <select id="letra"  ng-model="user2">
                      <option value=""> Cliente </option>
                     <option value="{{user2.nombre}}" ng-repeat="user2 in users2" > {{user2.nombre}}</option>
                   </select>
                  </div>
                  <div class="col-xs-12 col-md-1">
                    fecha:
                  </div>
                  <div class="col-xs-12 col-md-5">
                    <input id='letra' type="date" name="fecha" ng-model="fecha">><br> <br>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-12 col-md-2">
                    No. de Facturas:
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <input id='letra' type="text" name="num_fact" value="" ng-model="accion" />
                  </div>
                  <div class="col-xs-12 col-md-2">
                    Monto:
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <input id='letra' type="number" name="cant" value="" ng-model="cant" /><br> <br>
                  </div>
                </div>
                  <br><br><button id='aceptar' type="button" class="btn btn-success" aria-label="Left Align"ng-click="guardar()" >Guardar Abono</button> <br><br>
            </form>

        </div>
      </div>


   </div>
  </div>
  </div>
