<div ng-controller = "adminController" id = "admin_body">
  <div class="row vertical-center-row">
    <div class = "container" id = "admin_cont">
      <div id='page' class='divs col-xs-4 col-md-2'>
           <button id='user_butt' type="button" class="btn btn-default" aria-label="Left Align" ng-click="gousuario()">Usuarios</button>
       </div>
       <div id='page' class='divs col-xs-4 col-md-2'>
           <button id='user_bt' type="button" class="btn btn-default" aria-label="Left Align" ng-click="gofacturacion()">Regalos</button>
       </div>
       <div id='page' class='divs col-xs-4 col-md-2'>
           <button id='user_bt' type="button" class="btn btn-default" aria-label="Left Align" ng-click="gofacturacion()">Listas</button>
       </div>
    </div>
  </div>

</div>
